# Database - Configure com suas credenciais PostgreSQL
DATABASE_URL="postgresql://postgres:password@localhost:5432/chemstore?schema=public"

# JWT - MUDE ESTA CHAVE EM PRODUÇÃO
JWT_SECRET="chemstore-super-secret-jwt-key-2024-change-this-in-production"

# NextAuth - MUDE ESTE SECRET EM PRODUÇÃO
NEXTAUTH_SECRET="chemstore-nextauth-secret-2024-change-this-in-production"
NEXTAUTH_URL="http://localhost:3000"

# Email (opcional - para notificações futuras)
EMAIL_SERVER_USER=""
EMAIL_SERVER_PASSWORD=""
EMAIL_SERVER_HOST=""
EMAIL_SERVER_PORT=""
EMAIL_FROM=""
